

:root {
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);
    
  }


body{
    background-color:var(--Light-gray);
   

}

.white-card{
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    
    width: 325px;
    height: 500px;
     display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    background-color:var(--White);
    border-radius: 10px;
}

.qrcode-image img{
    width:300px;
    border-radius: 5px;

}
.heading-text{

    width: 280px;
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    margin: 0px 20px 0px 20px;
    padding: 0px 20px 0px 30px;
   
    justify-content: center;
    align-items: center;
}
.paragraph-text{
    width: 250px;
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 0px;
    text-justify: inter-word;
    justify-content: center;
    align-items: center;

}