@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);
    
  }

  * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
    
  font-family: 'Outfit', sans-serif;
    font-weight: 400;
    line-height: 1;
   font-size: 15px;

}
main {    
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(212, 45%, 89%);
    
  }

.container{
    max-width: 85%;
    background-color: hsl(0, 0%, 100%);
    text-align: center;
    
    border-radius: 1rem;
}

.card{
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  padding-bottom: 1rem;
  padding-bottom: 2.5rem;
  
}
.qrcode-image{
  max-width: 90%;
 
  border-radius: 1rem 1rem;



}


.heading-text{
    font-size: 1.5rem;
  font-weight: 700;
  color: hsl(218, 44%, 22%);
  opacity: 90%;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.paragraph-text{
    font-size: 1rem;
    font-weight: 400;
  color: hsl(220, 15%, 55%);
  opacity: 70%;
  
  
}
.hidden{
  visibility: hidden;
}

.attribution {
    font-size: 1rem;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }

  @media(min-width:348px)
  {

    .container{
      max-width: 320px;
      
  }

  }



